*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-image: url(https://images3.alphacoders.com/233/233785.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    padding: 30px;
    font-family: fantasy ;
  }
  
  .container{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    max-width: 600px;
    padding: 60px 0;
    color: black;
  }
  
  #line{
    width:30px;
    height:2px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
  
  }
  .flex-button{
    display: inline;
    width: 100%;
  }
  
  input{
    border:none;
  }
  input[type='text']{
    width: 70%;
    padding: 5px 10px;
    outline: none;
    font-size: 1.2rem;
    margin-right: -4px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    cursor:pointer;
  }
  input[type='text']:disabled{
    cursor:default;
    color: rgb(227, 213, 213);
    background-color: rgb(147, 135, 135);
  }
  input[type='button']{
    padding: 5px;
    font-size: 1.04rem;
    color:white;
    margin: 0 -3px;
  }
  #add-btn{
    margin-right: -4px;
    background-color: #e9adad;
  }
  
  #del-btn{
    background-color: #540a0a;
  }
  
  input[type='button']:active{
    transform: scale(.94);
  }
  
  
  .new-tasks{
    margin: 25px auto;
  }
  .update-task{
    margin-left: 10px;
    background-color: #158c47;
  }
  .rename-task{
    background-color: #e9adad;
  }
  .valid:checked + #added-task{
    background-color:#158c47
  }
  
  
  .del-task{
    background-color: #540a0a;
  }
  
  .task{
    width: 92%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
  }
  
  
  @media screen and (max-width:450px) {
    .task{
        display: inline;
    }
    .flex-button{
        display: block;
        
    width: 100%;
    }
  }
  .center-div
{
    top: 20%;
left: 20%;
right:20%;
display: flex;
position: absolute;
background-color:red;
background-size: 750px 417px;
width: 60%;
height: 417px;
}


@media (max-width:480px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: url(https://images3.alphacoders.com/233/233785.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height:850px;
    padding: 30px;
    font-family: fantasy ;
  }
  .container{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    max-width: 60%;
    padding: 60px 0;
    color: black;
  }

  #line{
    width:30px;
    height:2px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
  
  }
  .flex-button{
    display: inline;
    width: 100%;
  }

  input{
    border:none;
  }
  input[type='text']{
    width: 70%;
    padding: 5px 10px;
    outline: none;
    font-size: 1.2rem;
    margin-right: -4px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    cursor:pointer;
  }
  input[type='text']:disabled{
    cursor:default;
    color: rgb(227, 213, 213);
    background-color: rgb(147, 135, 135);
  }
  input[type='button']{
    padding: 5px;
    font-size: 1.04rem;
    color:white;
    margin: 0 -3px;
  }
  #add-btn{
    margin-right: -4px;
    background-color: #e9adad;
  }
  
  #del-btn{
    background-color: #540a0a;
  }
}
input[type="checkbox"].demo4 {
  display: none;
}
input[type="checkbox"].demo4 + label::after { 
  content:'en cour';
  color: orange;
}
input[type="checkbox"].demo4 + label::before {
  content:'';
  border: 1px solid #158c47;
  padding: 0 0.6rem;
  margin-right: 0.3rem;
}
input[type="checkbox"].demo4:checked + label::after { 
  content:'FAIT';
  color:#158c47
}
input[type="checkbox"].demo4:checked + label::before {
  background-color: #158c47;
}